* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

.ribbon {
  display: flex;
  height: auto;
  max-width: 100%;
  background: #ffb017;
  justify-content: center;
}
.ribbon p {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fefefe;
}
.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 40px 0;
}

.main-title {
  font-size: 35px;
  line-height: 100%;
  margin-bottom: 20px;
  margin-top: -40px;

  font-weight: 600;
  text-transform: uppercase;
}

.paragraph-content {
  font-size: 16px;
  line-height: 170%;
  font-weight: 500;
  display: inline;
  cursor: text;
  color: #727375;
}
.paragraph-content a{
  text-decoration: none;
  color: #727375;
}
.paragraph-content a:hover{
  text-decoration: underline;
}
.our-story-image {
  transform: translate(-119px, -283px);
  width: auto;
  height: 406px;
  margin-left: -100px;
  margin-bottom: -170px;
  position: relative;
}

.our-story-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 999px;
  height: auto;
  background-color: #e6e7e9;
  color: #070000;
  padding: 80px 58px 50px 58px;
}

.description-container {
  display: flex;
  gap: 30px;
}
.about {
  writing-mode: vertical-lr;
  letter-spacing: 10px;
  padding-top: 15px;
  color: #727375;
  font-size: 20px;
  position: relative;
  display: inline;
}

.about::after {
  content: "";
  background-color: #727375;
  height: 320px;
  width: 1px;
  bottom: 10px;
  left: 50%;
  position: absolute;
}
.member-name {
  content: "Dr. Miroj Shakya";
  background-color: #ffb017;
  width: auto;
  font-size: 50px;
  margin-left: -47%;
  bottom: 51px;
  left: 279px;
  padding: 5px 70px;
  clear: both;
  height: auto;
  color: #fefefe;
  font-weight: 600;
  position: relative;
  z-index: 99999;
  display: inline;
  margin-bottom: 69%;
}
.main-text-container {
  margin-left: -10%;
}
.center-div {
  margin-left: 173;
}

/* even container */

.container-even {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 40px 0;
}

.main-title-even {
  font-size: 35px;
  line-height: 100%;
  margin-bottom: 20px;
  margin-top: -40px;
  text-align: right;
  font-weight: 600;
}

.paragraph-content-even {
  font-size: 16px;
  line-height: 170%;
  font-weight: 500;
  display: inline;
  cursor: text;
  color: #727375;
}
.our-story-image-even {
  transform: translate(222px, -227px);
  width: auto;
  height: 406px;
  margin-left: -265px;
  margin-bottom: -170px;
  position: relative;
}

.our-story-container-even {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  max-width: 999px;
  height: auto;
  background-color: #e6e7e9;
  color: #070000;
  padding: 80px 58px 50px 58px;
  margin-left: 90px;
}

.description-container-even {
  display: flex;
  gap: 30px;
}
.about-even {
  writing-mode: vertical-lr;
  letter-spacing: 10px;
  padding-top: 15px;
  color: #727375;
  font-size: 20px;
  position: relative;
  display: inline;
}

.about-even::after {
  content: "";
  background-color: #727375;
  height: 208px;
  width: 1px;
  bottom: 11px;
  left: 50%;
  position: absolute;
}
.member-name-even {
  content: "Ven. Sirinanda Unaleeye";
  background-color: #ffb017;
  width: auto;
  font-size: 50px;
  margin-left: -47%;
  bottom: 51px;
  left: 344px;
  padding: 5px 65px 5px 115px;
  clear: both;
  height: auto;
  color: #fefefe;
  font-weight: 600;
  position: relative;
  z-index: 999;
  display: inline;
  margin-bottom: 69%;
}
.main-text-container-even {
  margin-right: 10%;
}
.center-div-even {
  margin-left: -245;
}

.yin-image {
  transform: translate(-119px, -140px);
  width: auto;
  height: 406px;
  margin-left: -100px;
  margin-bottom: -170px;
  position: relative;
}
.about-szu {
  writing-mode: vertical-lr;
  letter-spacing: 10px;
  padding-top: 15px;
  color: #727375;
  font-size: 20px;
  position: relative;
  display: inline;
}
.about-szu::after {
}
.dn-image {
  transform: translate(222px, -140px);
  width: auto;
  height: 406px;
  margin-left: -265px;
  margin-bottom: -170px;
  position: relative;
}
.dn-name {
  content: "Dinesh Shakya";
  background-color: #ffb017;
  width: auto;
  font-size: 50px;
  margin-left: -47%;
  bottom: 51px;
  left: 635px;
  padding: 5px 70px;
  clear: both;
  height: auto;
  color: #fefefe;
  font-weight: 600;
  position: relative;
  z-index: 999;
  display: inline;
  margin-bottom: 69%;
}
.about-dn {
  writing-mode: vertical-lr;
  letter-spacing: 10px;
  padding-top: 15px;
  color: #727375;
  font-size: 20px;
  position: relative;
  display: inline;
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
