/* Burger menu */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}
.burger-menu {
  display: none;
  cursor: pointer;
  z-index: 100000;
}

.burger-menu i {
  font-size: 24px;
  color: var(--heading-text-color);
}

.navbox {
  height: 101px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  max-width: 1350px;
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  height: 80px;
  transition: 0.2s ease-in;
  z-index: 1000000;
}

.logo {
  display: flex;
  height: 10px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-links .ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.ul li a {
  color: #999;
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 5px 5px;
  position: relative;
}
.ul li a:after {
  content: "";
  position: absolute;
  background-color: #8b0304;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}
.ul li a:hover {
  color: #000;
  transition: 0.9s;
}
.ul li a:hover:after {
  width: 100%;
}

.nav-link.active {
  color: black;
  font-weight: 600;
}

.donate {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  background: #8b0304;
  height: 38px;
  padding: 8px 14px;
  display: inline-block;
}
.donate a {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.donate:hover {
  background: #ec0c3c;
}

.search {
  font-size: 27px;
  color: #999;
  flex-shrink: 0;
  padding: 26px 3px;
}

.search:hover {
  color: black;
  transition: 0.9s;
}

.sticky {
  position: fixed;
  animation: fadeInDown 0.5s ease;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media only screen and (max-width: 768px) {
  nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 80px;
    transition: 0.2s ease-in;
    z-index: 1000000;
  }
  .navbox {
    height: 101px;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1350px;
  }

  .logo {
    max-width: 150px;
    height: auto;
  }

  .logo img {
    width: 100%;
    height: 100%;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .nav-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
  }

  .ul li a {
    color: #999;
    text-decoration: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 5px 5px;
    position: relative;
  }
  .ul li a:after {
    content: "";
    position: absolute;
    background-color: #8b0304;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
  }
  .ul li a:hover {
    color: #000;
    transition: 0.9s;
  }
  .ul li a:hover:after {
    width: 100%;
  }
  .donate {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);

    background: #8b0304;
    height: 38px;
    padding: 8px 14px;
    display: inline-block;
  }
  .donate a {
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .donate:hover {
    background: #ec0c3c;
  }

  .search {
    font-size: 27px;
    color: #999;
    flex-shrink: 0;
    padding: 26px 3px;
  }

  .search:hover {
    color: black;
    transition: 0.9s;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 25px;
    transition: all 0.5s ease;
    z-index: 9999999999;
  }

  .burger-menu.activate {
    transform: rotate(90deg);
  }

  .nav-links.activate {
    height: 100vh;
    display: flex;
    opacity: 1;
  }

  .burger-menu .fa-times {
    display: none;
  }

  .burger-menu.activate .fa-bars {
    display: none;
  }

  .burger-menu.activate .fa-times {
    display: block;
  }

  .nav-links {
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    box-shadow: 0 2.4px 4.8px rgba(0, 0, 0, 0.075);
    padding: 1rem;
    opacity: 0;
    transition: height 0.5s ease, display 0.3s ease, opacity 0.5s ease;
    z-index: 999999999;
  }

  .nav-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .nav-links .ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav-links ul li {
    text-align: center;
  }

  .nav-links ul li a {
    display: block;
    padding: 0.5rem 0;
  }
  nav.sticky {
    position: fixed;
    animation: fadeInDown 0.5s ease;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-1000px);
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
