@media (max-width: 768px) {
  .banner {
    height: auto;
    width: 100%;
    background-image: url("../images/mobile banner.jpg");
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    display: flex;
    justify-content: left;
    padding: 45px 5px 45px 5px;
  }

  .herocontainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    max-width: 100%;
    padding: 25px;
  }
  .banner h1,
  .banner .title-line-break {
    width: auto;
    color: #fff;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
  }

  .title-line-break {
    display: inline;
  }

  .herocontainer p {
    width: 100%;
    display: inline;
    margin-top: 14px;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 25.5px */
    position: relative;
  }
  .banner p span {
    color: #ed1846;
    font-weight: 700;
  }

  .donate2 {
    margin-top: 20px;
  }

  .dbtn {
    border-radius: 4px;
    position: relative;
    padding: 4px 6px;
    background-color: #fff200;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
  }
  .donate2 .dbtn:hover {
    box-shadow: 0 5px 15px rgba(255, 242, 0, 0.4);
  }

  .container {
    max-width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-title {
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .paragraph-content {
    font-size: 14px;
    line-height: 150%;
    font-weight: 300;
    display: inline;
    cursor: text;
  }

  .secondary-btn {
    display: block;
    text-transform: uppercase;
    border: none;
    background-color: #1e1e1e;
    color: #eee;
    font-size: 16px;
    position: relative;
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
  }

  .secondary-btn:focus {
    outline: none;
  }

  .secondary-btn::after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    position: absolute;
    bottom: -10px;
    width: 50%;
    height: 2px;
    background-color: #fc0002;
    transform: none;
    transition: 0.2s ease;
  }

  .secondary-btn:hover {
    text-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
  }
  .secondary-btn:hover::after {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
    width: 100%;
  }
  /*  ABOUT US CONTAINER */

  .about-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-color: #1e1e1e;
    color: #eee;
    width: auto;
    padding: 30px;
    margin-left: 0;
    text-align: left;
    height: auto;
  }
  .about-us-image {
    float: none;
    width: auto;
    height: 250px;
    transform: none;
    margin-top: -100px;
    margin-left: 0;
    margin-bottom: 30px;
    align-self: center;
  }

  .extra {
    display: none;
  }

  .show {
    display: inline;
    text-align: left;
  }

  .center-div {
    margin: auto;
  }

  .about-link {
    color: #fc0002;
    text-decoration: underline;
  }

  .about-link:hover {
    color: #cd0305;
    text-decoration: none;
  }

  /* our misson */
  .mission-container {
    background-position: right;
  }

  .mission-heading {
    font-size: 32px;
  }

  .mission-div {
    text-align: left;
  }

  /* Our Story */
  .our-story-image {
    float: none;
    transform: none;
    width: auto;
    height: 250px;
    margin-left: 0;
    margin-bottom: 0;
    position: relative;
    margin-top: -100px;
    margin-bottom: 30px;
    align-self: center;
  }

  .img-container {
    position: relative;
  }

  .img-container::after {
    content: "Late Min Bahadur Shakya (left) Dr. Miroj Shakya (right)";
    background-color: #fff200;
    width: 220px;
    font-size: 8px;
    position: absolute;
    bottom: 39px;
    left: 8.5%;
    padding: 5px;
    clear: both;
    height: auto;
    color: #1e1e1e;
    font-weight: 800;
    left: 45%;
    transform: translateX(-45%);
  }

  .our-story-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    max-width: auto;
    height: 520px;
    background-color: #1e1e1e;
    color: #eee;
    padding: 30px;
    margin-left: 0;
    text-align: left;
  }
}
