* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

.navbox {
  height: 101px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.5rem;
  /* margin: auto; */
  max-width: 1350px;
}

nav {
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inter;
  background: #fff;
  height: 80px;
  transition: 0.2s ease-in;
  z-index: 1000000;
}

.logo {
  display: flex;
  height: 10px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-links .ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.ul li a {
  color: #999;
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding: 5px 5px;
  font-family: inter;
  position: relative;
}
.ul li a:after {
  content: "";
  position: absolute;
  background-color: #8b0304;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
  /* border:1px solid white; */
}
.ul li a:hover {
  color: #000;
  transition: 0.9s;
  /* text-decoration:underline;
	text-underline-offset: 10px; */
}
.ul li a:hover:after {
  width: 100%;
}
.donate {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);

  background: #8b0304;
  height: 38px;
  padding: 8px 14px;
  display: inline-block;
}
.donate a {
  color: #fff;
  font-family: inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.donate:hover {
  background: #ec0c3c;
}

.search {
  font-size: 27px;
  color: #999;
  flex-shrink: 0;
  padding: 26px 3px;
  /* margin-left: 26px; */
}

.search:hover {
  color: black;
  transition: 0.9s;
}

.sticky {
  position: fixed;
  animation: fadeInDown;
  transition: 1s ease;
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-1000px);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.banner {
  height: 508px;
  width: 100%;
  background: url("images/banner.png");
  font-family: sans-serif;
  background-size: cover;
  background-position: top;
  position: relative;
  margin: auto;
}
.herogradient {
  height: 508px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #747474 38.58%,
    rgba(217, 217, 217, 0) 83.16%
  );
  mix-blend-mode: multiply;
  position: absolute;
  margin: auto;
}
.herocontainer {
  max-width: 1300px;
  margin: auto;
  padding: 120px 70px;
}
.banner h1 {
  /* width: 637px; */
  /* height: 175px; */
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  /* padding: 120px 25px; */
  /* margin-left: 70px; */
  /* z-index:2; */
  position: relative;
}

.title-line-break {
  display: block;
}

.banner p {
  width: 540px;
  margin-top: 20px;
  /* height: 79px; */
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 25.5px */
  /* padding: 50px 15px; */
  /* margin-left: 85px; */
  /* z-index:2; */
  position: relative;
}
.banner p span {
  color: #ed1846;
  font-weight: 700;
}

.donate2 {
  margin-top: 40px;
  /* margin-left: 100px; */
  /* width: 176px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: #FFF200;
    position: relative;
    padding: 12px 14px; */
}

.dbtn {
  /* margin-top: 500px;
    margin-left: 125px; */
  width: 176px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  /* border: 2px solid #FFF200; */
  /* background: #8B0304; */
  position: relative;
  padding: 12px 14px;
  background-color: #fff200;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.donate2 .dbtn:hover {
  box-shadow: 0 5px 15px rgba(255, 242, 0, 0.4);
}

/* ***************************** about us ************************************** */

.container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 40px 0;
}

.main-title {
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 30px;
  font-weight: 600;

  text-transform: uppercase;
}

.paragraph-content {
  font-size: 18px;
  line-height: 170%;
  font-weight: 300;
  display: inline;
  cursor: text;
}

.secondary-btn {
  display: inline;
  text-transform: uppercase;
  border: none;
  background-color: #1e1e1e;
  color: #eee;
  font-size: 16px;
  position: relative;
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

.secondary-btn:focus {
  outline: none;
}

.secondary-btn::after {
  content: "";
  display: block;
  left: 125px;
  position: absolute;
  bottom: 40%;
  width: 30%;
  height: 2px;
  background-color: #fc0002;
  transform: translate(-60%);
}

.secondary-btn:hover {
  text-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}
.secondary-btn:hover::after {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}
/*  ABOUT US CONTAINER */

.about-us-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1100px;
  background-color: #1e1e1e;
  color: #eee;
  padding: 80px 58px 100px 58px;
  margin-left: -58px;
  height: 550px;
}

.about-us-image {
  float: right;
  transform: translate(130px, -150px);
  width: auto;
  height: 544px;
  margin-left: -58px;
  margin-bottom: -120px;
}

.extra {
  display: none;
}

.show {
  display: inline;
  text-align: justify;
}

.center-div {
  margin: auto;
}

.about-link {
  color: #fc0002;
  text-decoration: underline;
}

.about-link:hover {
  color: #cd0305;
  text-decoration: none;
}

/* Our Story */
.our-story-image {
  float: left;
  transform: translate(-25px, -146px);
  width: auto;
  height: 544px;
  margin-left: -100px;
  margin-bottom: -170px;
  position: relative;
}

.img-container {
  position: relative;
}

.img-container::after {
  content: "Late Min Bahadur Shakya (left) Dr. Miroj Shakya (right)";
  background-color: #fff200;
  width: auto;
  font-size: 14px;
  position: absolute;
  bottom: -368px;
  left: 80px;
  padding: 5px;
  clear: both;
  height: auto;
  color: #1e1e1e;
  font-weight: 800;
}

.our-story-container {
  /* display: flex; */
  justify-content: center;
  display: block;
  align-items: center;
  position: relative;
  max-width: 1092px;
  height: 520px;
  background-color: #1e1e1e;
  color: #eee;
  padding: 80px 58px 100px 58px;
  margin-left: 46px;
}

/* ********************footer section************************ */
.footerbox {
  width: 100%;
  height: 128px;
  background: #1e1e1e;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  flex-wrap: wrap;
  padding: 30px 20px;
  justify-content: center;
  align-items: center;
}
.footerbox h2 {
  height: auto;
  width: 230px;
  position: relative;
}
.footercontent {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #fff;
  text-decoration: none;
}
.social {
  display: flex;
  color: #fff;
  text-decoration: none;
  gap: 10px;
  justify-content: end;
}

.social i {
  font-size: 27px;
  color: #999;
  flex-shrink: 0;
  padding: 26px 3px;
  /* margin-left: 26px; */
}
.social i:hover {
  color: #eee;
  transition: 0.3s;
}

.footer-container{
  max-width: 1350px;
  display: flex;
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  gap:230px;
  align-items: center;
}