*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: montserrat;
}
nav{
    /* position: fixed; */
    top: 0;
    bottom: 0;
    width:100%;
    display: flex;
	justify-content: space-around;
	align-items: center;
    font-family: inter;
	background: #fff;
	height: 80px;
    transition: 0.9s;
    z-index: 1000000;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}
.navbox{
    width: 1169px;
    height: 101px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    display: flex;
    height: 10px;
    width: 230px;
    justify-content: center;
    align-items: center;
    margin-right: 515px;
    margin-bottom: 10px;
    
}

nav ul li{
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-right: 20px;
}


nav ul li a{
    color: #999;
    text-decoration: none;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 5px 5px;
    font-family: inter;
}
nav ul li a:after{
	content: "";
	position: absolute;
	background-color: #8B0304;
	height: 3px;
	width: 0%;
	left: 0;
	bottom:-10px;
	transition: 0.4s;
	/* border:1px solid white; */
}
nav ul li a:hover{
	color: #000;
    transition: 0.9s;
	/* text-decoration:underline;
	text-underline-offset: 10px; */
	
}
nav ul li a:hover:after{
	width: 100%;
}
.donate{
    border-radius: 4px;    
    border: 1px solid rgba(0, 0, 0, 0.00);
   
    background: #8B0304;
    height:38px;
    padding: 8px 14px;
    display:inline-block;
    /* margin-left: 10px; */
    margin-right: 20px;
}
.donate a{
    color:#fff;
    font-family: inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}
.donate:hover{
    background: #ec0c3c;
   
}

.search{
    font-size: 27px;
    color: #999;
    flex-shrink: 0;
    padding: 26px 3px;
    /* margin-left: 26px; */
}

.search:hover{
    color:black;
    transition: 0.9s;
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

nav.sticky{
    position: sticky;
    /* background-color: black; */
    transition:5s;
    padding: 5px 100px;
    animation: fadeInDown;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
}

.photocontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:40px 100px 0 100px;
}

.photocontainer .heading{
    width: 50%;
    padding-bottom: 50px; 
}
.photocontainer .heading p{
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 60px;
    /* border-bottom: 3px solid #8B0304; */
    color: #1e1e1e;
    /* text-align: center; */
}
.photocontainer .heading h3{
    font-size: 3em;
    font-weight: 300;
    padding-bottom: 10px; 
    border-bottom: 3px solid #8B0304;
    color: #1e1e1e;
    /* text-align: center; */
}

.photocontainer .heading h3 span{
    font-weight: bolder;
}

.photocontainer .box{
    display: flex;
    flex-direction: row;
    justify-content:  space-between;
    /* align-items: center; */
    
}

.photocontainer .box .dream{
    display: flex;
    flex-direction: column;
    width:49%;

}

.photocontainer .box .dream img{
    width:100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

/* footer */
.footerbox{
    width:100%;
    height:128px;
    background: #1e1e1e;
    margin: 0 auto;
    margin-top:10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    padding: 30px 20px;
    justify-content: center;
    align-items: center;

  }
  .footerbox h2{
    height: auto;
    width: 230px;
    position: relative;
  }
  .footercontent{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
  }
    .social{
        display: flex;
        color: #fff;
        text-decoration: none;
        gap: 10px;
        justify-content: end;
  }
    
  .social i{
    font-size: 27px;
    color: #999;
    flex-shrink: 0;
    padding: 26px 3px;
    /* margin-left: 26px; */
  }
.social i:hover{
    color: #eee;
    transition: 0.3s;
}